.contenedor{
    display: flex;
    justify-content: right;
}

img{
    position: relative;
    width: 100%;
    height: 300px;
}

body{
    background-image: url(imagenes/logo_empresa.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

button{
    color: white;
    background-color: black;
    width: 100%;
}

fieldset{
    margin-left: 6%;
    margin-right: 6%;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 20%;
}