.contenedor{
    display: flex;
    justify-content: right;
}

#division_catalogo{
    display: flex;
    justify-content: right;
}

#hrch{
    margin-top: 32px;
    width: 28%;
    height: 1px
}

hr{
    margin-top: 32px;
    width: 40%;
    height: 1px
}

img{
    position: relative;
    width: 100%;
    height: 300px;
}

button{
    margin-top: 0 0 20px 0;
    color: white;
    background-color: black;
    width: 100%;
}

fieldset{
    margin-left: 6%;
    margin-right: 6%;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 20%;
}