.contenedor {
    width: 300px; /* Ancho del contenedor */
    overflow-x: auto; /* Muestra la barra de desplazamiento horizontal cuando sea necesario */
    white-space: nowrap; /* Evita el salto de línea */
  }
  
  .contenido {
    display: inline-block; /* Permite el contenido flotante */
  }
  
  .item {
    width: 100px; /* Ancho de cada item */
    height: 100px; /* Altura de cada item (opcional) */
    margin-right: 10px; /* Espacio entre los items */
    background-color: lightblue; /* Color de fondo (opcional) */
  }
  
  /* Estilos para las flechas */
  .contenedor::-webkit-scrollbar {
    display: none; /* Oculta la barra de desplazamiento en navegadores WebKit */
  }
  
  .contenedor:hover::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2); /* Cambia el color del pulgar de la barra de desplazamiento al pasar el ratón sobre el contenedor */
  }
  