#fondo{
    background-image: url(imagenes/sale\ perfume.png);
    width: 100%; 
    height: 600px; 
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    border: 1px;
    border-color: black;
}

fieldset{
    width: 25%;
    margin-right: 2%;
    margin-left: 2%;
    margin-bottom: 1%;
    margin-top: 1%;
}

img{
    position: relative;
    width: 100%;
    height: 300px;
}

.catalogo{
    display: flex;
    justify-content:right;
}

#encabezado_catalogo{
    display: flex;
    justify-content: right;
}

hr{
    margin-top: 32px;
    width: 40%;
    height: 1px
}

#hr{
    margin-top: 32px;
    width: 35%;
    height: 1px
}

button{
    background-color:black;
    color: white;
    width: 100%;
}