body {
    margin: 0;
    padding: 0;
    color: #0C1A1A;
    background-color: #6ACFC7;
    margin: 0%;
    padding: 0%;
}

.container-fluid{
  font-size: 20px;
  padding:0 0 0 40px;
  height: 50px;
}

.navbar-nav .nav-item {
  margin-right: 40px; 
}


  
  .contenido-encabezado{
      background-color: whitesmoke;
   }
  
   .encabezado{
      display: flex;
      justify-content: space-between; 
      align-items: center; 
      padding: 2rem 0; 
   }
  
  
   .contenido-soporte-cliente{
      display: flex;
      flex-direction: column;
   }
   .logo{
      display: flex;
      align-items: center;
      gap: .5rem;
   }
   
   .contenido-usuario{
      display: flex;
      gap: 1rem;
      cursor: pointer;
   }
  
   .contenido-usuario .fa-user{
       font-size: 2rem;
       color: rgb(240, 178, 64);
       padding-right: 1rem;
       border-right: 1px solid orangered;
   }
  
   .fa-basket-shopping{
      font-size: 2rem;
      color: rgb(240, 178, 64);
      padding-right: .5rem;
      
       
   }
   .text{
      margin-right: 20px;
   }
  

  .busqueda{
      margin-right: 20px;
      position: relative;
      display: flex;
      align-items: center;
      border: 2px solid honeydew;
      border-radius: 2rem;
      background-color: honeydew;
      height: 2.5rem;
      overflow: hidden; 
  }
  .busqueda input{
      outline: none;
      font-family: inherit;
      border: none;
      font-size: 1rem;
      padding: 0 2rem;
      color: gray;
      background-color: honeydew;
      cursor: pointer;
  }
  
  .busqueda input::-webkit-search-cancel-button{
      appearance: none;
     background-color:  rgb(18, 4, 9);
     color: #fff;
     text-align: center;
     padding: 20px 0;
  }
  
  h1 {
    font-size: 2.5em;
  }
  
  .contenido {
    border-radius: 10px;
    max-width: 1100px;
    margin: 0 auto;
    padding: 30px;
    background-color: #0C1A1A;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    color: #6ACFC7;
  }
  
    .product {
      display: flex;
      align-items: center;
      margin-bottom: 40px;
      width: 100%;
      background-color: #0C1A1A;
      border-radius: 10px;
      box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
     }
  
    .product img {
      max-width: 300px;
      border-radius: 50px 0 0 50px;
  }
  
  .product-info {
      flex: 1;
      padding: 20px;
  }
  
  .product-name {
    font-size: 1.8em;
    font-weight: bold;
    color: #6ACFC7;
  }
  
  .product-price {
    font-size: 1.5em;
    color: rgb(19, 8, 12);
    font-weight: bold;
    margin-top: 10px;
  }
  
  p {
    color: #6ACFC7;
    font-size: 1.2em;
    margin-top: 15px;
  }
  
  
  h2 {
    font-size: 1.8em;
    color: #950cbe;
    margin-top: 20px;
  }
  
  p {
    margin: 10px;
    font-size: 1.2em;
    line-height: 1.6;
  }
  
  .imagenes {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
  }
  
  .imagenes img {
    width: 30%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
  }
  
  .imagenes img:hover {
    transform: scale(1.1);
  }

.espacio{
  margin-bottom: 40px ;
}  


/* Footer */
footer{
  color: #6ACFC7;
  height: 200px;
  text-align: center;
  padding-block: 0;
  background-color: #0C1A1A;
}

#logo-footer{
  border-radius: 10px;
  width: 100px;
  height: 100px;
} 

.link-column{
  gap: 20px;
}

a {
  color: #6ACFC7;
  text-decoration: none;
  transition: color 0.3s ease;
}


.footer-container{
  align-items: center;
  justify-content: space-between;
}

.footer-img{
  width: 50px; 
  height: 50px;
  margin-right: 55px;   
}