
        
body {
  color: #31383f;
  background-color: #f2e9eb;
    margin: 0;
    padding: 0;
}

header{
    margin: 80px 0 20px 0;
  }

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.container-fluid{
    font-size: 20px;
    padding:0 0 0 40px;
    height: 50px;
}

.navbar-nav .nav-item {
    margin-right: 40px; /* Ajusta este valor para más o menos espacio */
}
  


.busqueda{
margin-right: 20px;
position: relative;
display: flex;
align-items: center;
border: 2px solid honeydew;
border-radius: 2rem;
background-color: honeydew;
height: 2.5rem;
overflow: hidden;
}
.busqueda input{
outline: none;
font-family: inherit;
border: none;
font-size: 1rem;
padding: 0 2rem;
color: gray;
background-color: #6ACFC7;
cursor: pointer;
}

.busqueda input::-webkit-search-cancel-button{
appearance: none;
}   


h1 {
    font-size: 2.5em;
}

.contact-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #dd8ea4;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    height: 150px;
}

button {
    background-color: #6ACFC7;
    color: #0C1A1A;
    border: none;
    padding: 10px 20px;
    font-size: 1.2em;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color:   rgb(153, 128, 136);
}


/* Footer */
footer{
    height: 150px;
    text-align: center;
    padding-block: 0;
    background-color: #0C1A1A;
    color: #6ACFC7;
  }
  
  #logo-footer{
    border-radius: 10px;
    width: 100px;
    height: 100px;
  } 
  
  .link-column{
    gap: 20px;
  }
  
  a {
    color: #6ACFC7;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  
  .footer-container{
    align-items: center;
    justify-content: space-between;
  }
  
  .footer-img{
    width: 50px; 
    height: 50px;
    margin-right: 55px;   
  }
body{
    margin: 0%;
    padding: 0%;
}